﻿<!DOCTYPE html>
<html lang="de">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Meine ASP.NET MVC-Anwendung</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("Ihr Logo hier einfügen", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Startseite", "Index", "Home")</li>
                            <li>@Html.ActionLink("Info", "About", "Home")</li>
                            <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>

                            <li>@Html.ActionLink("TodoList", "Index", "TodoList")</li><!-- Möglichkeit 4 mit JqGrid-->

                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Meine ASP.NET MVC-Anwendung</p>
                </div>
            </div>
        </footer>

        <script src="~/Scripts/jquery-3.1.1.js"></script>
        <script src="~/Scripts/jquery-3.1.1.min.js"></script>
        <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
        <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
        <script src="~/Scripts/jquery-ui-1.10.0.js"></script>
        <script src="~/Scripts/jquery-ui-1.10.0.min.js"></script>
        <script src="~/Scripts/i18n/grid.locale-en.js"></script>
        <script src="~/Scripts/jquery.jqGrid.min.js"></script>

        <script>
        $(function() {
            $("#ListGrid").jqGrid({
                url: "/TodoList/GetTodoLists",
                datatype: 'json',
                mtype: 'Get',
                colNames: ['Id', 'FahrzeugHersteller', 'FahrzeugTyp'],
                colModel: [
                    { key: true, hidden: false, name: 'Id', index: 'Id', editable: true },
                    { key: false, name: 'FahrzeugHersteller', index: 'FahrzeugHersteller', editable: true },
                    { key: false, name: 'FahrzeugTyp', index: 'FahrzeugTyp', editable: true }
                ],
            pager: jQuery('#pager'),
            rowNum: 10,
            rowList: [10, 20, 30, 40],
            height: '100%',
            viewrecords: true,
            caption: 'Todo List',
            emptyrecords: 'No records to display',
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                Id: "0"
            },
            autowidth: true,
            multiselect: false
        }).navGrid('#pager', { edit: true, add: true, del: true, search: false, refresh: true },
        {
            // edit options
            zIndex: 100,
            url: '/TodoList/Edit',
            closeOnEscape: true,
            closeAfterEdit: true,
            recreateForm: true,
            afterComplete: function (response) {
                if (response.responseText) {
                    alert(response.responseText);
                }
            }
        },
        {
            // add options
            zIndex: 100,
            url: "/TodoList/Create",
            closeOnEscape: true,
            closeAfterAdd: true,
            afterComplete: function (response) {
                if (response.responseText) {
                    alert(response.responseText);
                }
            }
        },
        {
            // delete options
            zIndex: 100,
            url: "/TodoList/Delete",
            closeOnEscape: true,
            closeAfterDelete: true,
            recreateForm: true,
            msg: "Are you sure you want to delete this task?",
            afterComplete: function (response) {
                if (response.responseText) {
                    alert(response.responseText);
                }
            }
        });
        });
        </script>

        <script>
            $(function () {
                $("#sortrows").jqGrid({
                    url: "/TodoList/GetTodoLists",
                    mtype: 'Get',
                    datatype: 'json',
                    colNames: ['Id', 'FahrzeugHersteller', 'FahrzeugTyp'],
                    colModel: [
                        { key: true, hidden: false, name: 'Id', index: 'Id', width: 20 , editable: true },
                        { key: false, name: 'FahrzeugHersteller', index: 'FahrzeugHersteller', width:90, editable: true }, 
                        { key: false, name: 'FahrzeugTyp', index: 'FahrzeugTyp', width: 100 , editable: true }                   
                    ],
                    rowNum: 10,
                    width: 700,
                    rowList: [10, 20, 30],
                    pager: '#psortrows',
                    sortname: 'invdate',
                    viewrecords: true,
                    sortorder: "desc",
                    caption: "Sortable Rows Example",
                    jsonReader: {
                                root: "rows",
                                page: "page",
                                total: "total",
                                records: "records",
                                repeatitems: false                                
                            },
                            autowidth: true,
                            multiselect: false
                });

                jQuery("#sortrows").jqGrid('navGrid', '#psortrows', { edit: false, add: false, del: false });
                jQuery("#sortrows").jqGrid('sortableRows');
            });
        </script>

        @*@Scripts.Render("~/bundles/jquery")*@
        @RenderSection("scripts", required: false)
    </body>
</html>
