﻿@model PreisListenKatalogProjekt.Models.RegisterExternalLoginModel
@{
    ViewBag.Title = "Registrieren";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Ordnen Sie Ihr @ViewBag.ProviderDisplayName-Konto zu.</h2>
</hgroup>

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Zuordnungsformular</legend>
        <p>
            Sie haben sich erfolgreich authentifiziert mit <strong>@ViewBag.ProviderDisplayName</strong>.
            Bitte geben Sie unten einen Benutzernamen für diese Website ein, und klicken Sie dann auf die Schaltfläche "Bestätigen", um die Anmeldung
            abzuschließen.
        </p>
        <ol>
            <li class="name">
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
        </ol>
        @Html.HiddenFor(m => m.ExternalLoginData)
        <input type="submit" value="Registrieren" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
